<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
<header>
   <table border="1">
      <td>
         <tr>1</tr>
      </td>
   </table>
</header>   
<span style="color: red;">{{ title }}Aqui estaremos aprendiendo Angular</span>
<br>
<!--Aqui se mandan a llamar nuestros componentes con las llaves-->
<span>Saludo:{{saludo}} </span>
<br>
<!--De esta manera se manda a llamar nuestro componente creado -->
<app-empleados>
     </app-empleados>
        <!-- para crear un componente em terminal ng generate component empleado-->
</body>
</html>



